<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Menu Button"
                   hide-gt-md
                   ng-click="onClickMenu();">
            <md-icon
                    style="margin-bottom: 15px"
                    md-svg-icon="stylesheets/images/icons/menu.svg"
                    aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2>{{header}}</h2>

        <span flex></span>
    </div>
</md-toolbar>
<div>
    <md-content layout-padding>
        <signature-pad accept="accept" clear="clear" height="200" width="500"></signature-pad>
    </md-content>
</div>

<button ng-click="clear()">Clear signature</button>
<button ng-click="accept()">Sign</button>